{% extends 'base.html' %}

{% block title %}
PlatePal: Analytics
{% endblock%}

{% block head %}

{% endblock %}

{% block location %}
<nav class="navbar navbar-default" role="navigation">
<!-- <div class="row" id="citynav-outer"> -->
    <!-- <div class="navbar-header"> -->
    <div >
        <button type="button" class="citynav navbar-toggle" data-toggle="collapse" data-target="#citynav-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="citynav-left">
            <ol class="breadcrumb">
              <li><a href="/analytics#forceregion">Regional</a></li>
              <li><a href="/analytics#treemap">Local</a></li>
              <li><a href="/analytics#area3">Business</a></li>
            </ol>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="citynav-collapse">
        <!-- <div class="collapse navbar-collapse" id="citynav-collapse-2"> -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 citynav-right" >
            <ol class="breadcrumb nearby">

            <li><a href="/"></a></li>
            
            </ol>
        </div>
    </div>
    <!-- <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" id="citynav right">

    </div>  -->
</nav> <!-- citynav-outer -->


<!-- <div class="analytics-outer">
    <h2>Analytics: the ghost in the machine</h2>
    <h3>Details on classifier and sentiment analysis models can be found <a href="/nlp">here</a></h3>
</div>  -->
{% endblock %}

{% block content %}
<style>

#area1 .link {
  stroke: #777;
  stroke-opacity: 0.3;
  stroke-width: 1.5px;
}

#area1 .node circle {
  /*fill: #ccc;*/
  stroke: #000;
  stroke-width: 1.5px;
}

#area1 .node text {
  display: none;
  font: 10px sans-serif;
}

#area1 .node:hover circle {
  fill: #000;
}

#area1 .node:hover text {
  display: inline;
}

#area1 .cell {
  fill: none;
  pointer-events: all;
}
</style>

<style>
#area2 path {
  stroke: #fff;
  fill-rule: evenodd;
}
#area2 text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
</style>

<!-- <div id="area1"></div> -->
<!-- <div id="area2"></div> -->
<script src='http://d3js.org/d3.v3.min.js'></script>
<body>

<div id="d3graphs"> 

    <article>
        <h3>Project Motivation</h3>
        <br>
    </article>
    <div id="forceregion">   
        Post about regional relationships (city --> restaurant --> category)
        <!-- <form action="/sunburst-form"> -->
        <form>
          <select name="region" id="selectregion">
            <option hidden=""></option>
            <option value="norcal">Bay Area</option>
            <option value="socal">Los Angeles Metro</option>
          </select>
          
      </form>
    </div>
    <div id="area1">

    </div>
        <script>

        var width1 = 960,
            height1 = 500

        var color = d3.scale.category20();

        var svg1 = d3.select("#area1").append("svg")
            .attr("width", width1)
            .attr("height", height1);

        var force = d3.layout.force()
            .gravity(0.1)
            .charge(-120)
            .linkDistance(30)
            .size([width1, height1]);

        var voronoi = d3.geom.voronoi()
            .x(function(d) { return d.x; })
            .y(function(d) { return d.y; })
            .clipExtent([[0, 0], [width1, height1]]);



        d3.json("/norcal/force.json", function(error, json) {
          if (error) throw error;

          force
              .nodes(json.nodes)
              .links(json.links)
              .start();

          var link = svg1.selectAll(".link")
              .data(json.links)
            .enter().append("line")
              .attr("class", "link");

          var node = svg1.selectAll(".node")
              .data(json.nodes)
              .enter().append("g")
              .attr("class", "node")
              .attr("r", function(d) { console.log(d.value); return d.value; })
              .style("fill", function(d) { return color(d.group); })
              .call(force.drag)
              .on('dblclick', connectedNodes);

          var circle = node.append("circle")
              .attr("r", function(d) { console.log(d.value); return d.value; });

          var label = node.append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });

          var cell = node.append("path")
              .attr("class", "cell");

          force.on("tick", function() {
            cell
                .data(voronoi(json.nodes))
                .attr("d", function(d) { return d.length ? "M" + d.join("L") : null; });

            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            circle
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });

            label
                .attr("x", function(d) { return d.x + 8; })
                .attr("y", function(d) { return d.y; });
          });

          //Toggle stores whether the highlighting is on
          var toggle = 0;
          //Create an array logging what is connected to what
          var linkedByIndex = {};
          for (i = 0; i < json.nodes.length; i++) {
              linkedByIndex[i + "," + i] = 1;
          };
          json.links.forEach(function (d) {
              linkedByIndex[d.source.index + "," + d.target.index] = 1;
          });

     
          //This function looks up whether a pair are neighbours
          function neighboring(a, b) {
              return linkedByIndex[a.index + "," + b.index];
          }
          function connectedNodes() {
              if (toggle == 0) {
                  //Reduce the opacity of all but the neighbouring nodes
                  d = d3.select(this).node().__data__;
                  console.log("in connectedNodes");
                  console.log(d);
                  node.style("opacity", function (o) {
                      return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
                  });
                  link.style("opacity", function (o) {
                      return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
                  });
                  //Reduce the op
                  toggle = 1;
              } else {
                  //Put them back to opacity=1
                  node.style("opacity", 1);
                  link.style("opacity", 1);
                  toggle = 0;
              }
          }
     }); // end d3.json

    $("#selectregion").on('change', function(evt){
      // get the link's id

      forcejsonRoute = ('/' + $("#selectregion").val() + "/force.json");
      // forcejsonRoute = '/force.json'
      $("div#area1").remove()
      $("<div id='area1'></div>").insertAfter("#forceregion")
      updateForce(forcejsonRoute)
    });

    // update d3
    function updateForce(forcejsonRoute){
      d3.select("svg1").remove();

        var svg1 = d3.select("#area1").append("svg")
            .attr("width", width1)
            .attr("height", height1);

        var force = d3.layout.force()
            .gravity(0.1)
            .charge(-120)
            .linkDistance(30)
            .size([width1, height1]);

        var voronoi = d3.geom.voronoi()
            .x(function(d) { return d.x; })
            .y(function(d) { return d.y; })
            .clipExtent([[0, 0], [width1, height1]]);

        console.log(forcejsonRoute);

        d3.json(forcejsonRoute, function(error, json) {
          if (error) throw error;

          force
              .nodes(json.nodes)
              .links(json.links)
              .start();

          var link = svg1.selectAll(".link")
              .data(json.links)
            .enter().append("line")
              .attr("class", "link");

          var node = svg1.selectAll(".node")
              .data(json.nodes)
              .enter().append("g")
              .attr("class", "node")
              .attr("r", function(d) { console.log(d.value); return d.value; })
              .style("fill", function(d) { return color(d.group); })
              .call(force.drag)
              .on('dblclick', connectedNodes);

          var circle = node.append("circle")
              .attr("r", function(d) { console.log(d.value); return d.value; });

          var label = node.append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });

          var cell = node.append("path")
              .attr("class", "cell");

          force.on("tick", function() {
            cell
                .data(voronoi(json.nodes))
                .attr("d", function(d) { return d.length ? "M" + d.join("L") : null; });

            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            circle
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });

            label
                .attr("x", function(d) { return d.x + 8; })
                .attr("y", function(d) { return d.y; });
          });

          //Toggle stores whether the highlighting is on
          var toggle = 0;
          //Create an array logging what is connected to what
          var linkedByIndex = {};
          for (i = 0; i < json.nodes.length; i++) {
              linkedByIndex[i + "," + i] = 1;
          };
          json.links.forEach(function (d) {
              linkedByIndex[d.source.index + "," + d.target.index] = 1;
          });

     
          //This function looks up whether a pair are neighbours
          function neighboring(a, b) {
              return linkedByIndex[a.index + "," + b.index];
          }
          function connectedNodes() {
              if (toggle == 0) {
                  //Reduce the opacity of all but the neighbouring nodes
                  d = d3.select(this).node().__data__;
                  console.log("in connectedNodes");
                  console.log(d);
                  node.style("opacity", function (o) {
                      return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
                  });
                  link.style("opacity", function (o) {
                      return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
                  });
                  //Reduce the op
                  toggle = 1;
              } else {
                  //Put them back to opacity=1
                  node.style("opacity", 1);
                  link.style("opacity", 1);
                  toggle = 0;
              }
          }
     }); // end d3.json

} // end update force d3

    </script>
    <div id="treemap">
      Post about city tree map (city --> cats --> restaurant --> sentiment)
        <form action="/sunburst-form">
          <select name="statename" id="selectstate">
            <option hidden=""></option>
            {% for place in states %}
            <option value="{{place[0]}}">{{place[0]}}</option>
            {% endfor %}
          </select>
          <select name="cityname" id="selectcity" disabled>
            <option hidden=""></option>
            {% for town in cities %}
            <option value="{{town[0]}}">{{town[0]}}</option>
            {% endfor %}
          </select>
          
      </form>
    </div>
    <div id="area2">
    </div>
    <script>
    $("#selectstate").change(function () {
       if ($("#selectstate").val() == 0) {
         $('#selectcity').attr('disabled', 'disabled');
         } else {
           $('#selectcity').removeAttr('disabled');
         }
    }).trigger("change");

    var width2 = 960,
        height2 = 700,
        radius = Math.min(width2, height2) / 2;

    var x2 = d3.scale.linear()
        .range([0, 2 * Math.PI]);

    var y2 = d3.scale.linear()
        .range([0, radius]);

    var color = d3.scale.category20c();

    // canvas
    var svg2 = d3.select("#area2").append("svg")
        .attr("width", width2)
        .attr("height", height2)
      .append("g")
        .attr("transform", "translate(" + width2 / 2 + "," + (height2 / 2 ) + ")");

    var partition = d3.layout.partition()
        .value(function(d) { return d.size; });

    var arc = d3.svg.arc()
        .startAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x))); })
        .endAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x + d.dx))); })
        .innerRadius(function(d) { return Math.max(0, y2(d.y)); })
        .outerRadius(function(d) { return Math.max(0, y2(d.y + d.dy)); });

    var state = $("#selectstate").val()
    var city = $("#selectcity").val()
    var jsonRoute = "/{{state}}/{{city}}/sunburst.json";


    d3.json(jsonRoute, function(error, root) {
      if (error) throw error;

      var g2 = svg2.selectAll("g")
          .data(partition.nodes(root))
        .enter().append("g");
      
      var path = g2.append("path")
        .attr("d", arc)
        .style("fill", function(d) { return color((d.children ? d : d.parent).name); })
        .on("click", click);
      
      var text = g2.append("text")
        .attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
        .attr("x", function(d) { return y2(d.y); })
        .attr("dx", "6") // margin
        .attr("dy", ".35em") // vertical-align
        .text(function(d) { return d.name; });
      
      function click(d) {
        // fade out all text elements
        text.transition().attr("opacity", 0);
        path.transition()
          .duration(750)
          .attrTween("d", arcTween(d))
          .each("end", function(e, i) {
              // check if the animated element's data e lies within the visible angle span given in d
              if (e.x >= d.x && e.x < (d.x + d.dx)) {
                // get a selection of the associated text element
                var arcText = d3.select(this.parentNode).select("text");
                // fade in the text element and recalculate positions
                arcText.transition().duration(750)
                  .attr("opacity", 1)
                  .attr("transform", function() { return "rotate(" + computeTextRotation(e) + ")" })
                  .attr("x", function(d) { return y2(d.y); });
              }
          });
      } // end click(d)
    }); // end d3.json



    d3.select(self.frameElement).style("height", height2 + "px");

    // Interpolate the scales!
    function arcTween(d) {
      var xd = d3.interpolate(x2.domain(), [d.x, d.x + d.dx]),
          yd = d3.interpolate(y2.domain(), [d.y, 1]),
          yr = d3.interpolate(y2.range(), [d.y ? 20 : 0, radius]);
      return function(d, i) {
        return i
            ? function(t) { return arc(d); }
            : function(t) { x2.domain(xd(t)); y2.domain(yd(t)).range(yr(t)); return arc(d); };
      };
    }

    function computeTextRotation(d) {
      return (x2(d.x + d.dx / 2) - Math.PI / 2) / Math.PI * 180;
    }

    $("#selectcity").on('change', function(evt){
      // get the link's id

      jsonRoute = ('/CA/' + $("#selectcity").val() + "/sunburst.json");
      $("div#area2").remove()
      $("<div id='area2'></div>").insertAfter("#treemap")
      updateSunburst(jsonRoute)
    });


    // update d3
    function updateSunburst(jsonRoute){
      d3.select("svg2").remove();

      var svg2 = d3.select("#area2").append("svg")
          .attr("width", width2)
          .attr("height", height2)
        .append("g")
          .attr("transform", "translate(" + width2 / 2 + "," + (height2 / 2 ) + ")");

      var partition = d3.layout.partition()
          .value(function(d) { return d.size; });

      var arc = d3.svg.arc()
          .startAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x))); })
          .endAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x + d.dx))); })
          .innerRadius(function(d) { return Math.max(0, y2(d.y)); })
          .outerRadius(function(d) { return Math.max(0, y2(d.y + d.dy)); });

      d3.json(jsonRoute, function(error, root) {
        if (error) throw error;

        var g2 = svg2.selectAll("g")
            .data(partition.nodes(root))
          .enter().append("g");
        
        var path = g2.append("path")
          .attr("d", arc)
          .style("fill", function(d) { return color((d.children ? d : d.parent).name); })
          .on("click", click);
        
        var text = g2.append("text")
          .attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
          .attr("x", function(d) { return y2(d.y); })
          .attr("dx", "6") // margin
          .attr("dy", ".35em") // vertical-align
          .text(function(d) { return d.name; });
        
        function click(d) {
          // fade out all text elements
          text.transition().attr("opacity", 0);
          path.transition()
            .duration(750)
            .attrTween("d", arcTween(d))
            .each("end", function(e, i) {
                // check if the animated element's data e lies within the visible angle span given in d
                if (e.x >= d.x && e.x < (d.x + d.dx)) {
                  // get a selection of the associated text element
                  var arcText = d3.select(this.parentNode).select("text");
                  // fade in the text element and recalculate positions
                  arcText.transition().duration(750)
                    .attr("opacity", 1)
                    .attr("transform", function() { return "rotate(" + computeTextRotation(e) + ")" })
                    .attr("x", function(d) { return y2(d.y); });
                }
            });
        } // end click(d)
      }); // end d3.json
    } // end updateSunburst

    </script>
    <div id="area3">
      <h2>Scatter plot of Sentiment Score over Time (in days) for Native Foods Cafe (Los Angeles)</h2>
      <!-- <img src="/static/img/scatterplot2171.png"> -->
    </div>
    <style>

    #area3 {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }

    .dot {
      stroke: #000;
    }

    </style>
    <script>

    var margin = {top: 20, right: 20, bottom: 30, left: 40},
        width = 960 - margin.left - margin.right,
        height = 500 - margin.top - margin.bottom;

    var x = d3.scale.linear()
        .range([0, width]);

    var y = d3.scale.linear()
        .range([height, 0]);

    // var color = d3.scale.category10();

    var xAxis = d3.svg.axis()
        .scale(x)
        .orient("bottom");

    var yAxis = d3.svg.axis()
        .scale(y)
        .orient("left");

    var svg3 = d3.select("#area3").append("svg")
        .attr("width", width + margin.left + margin.right)
        .attr("height", height + margin.top + margin.bottom)
      .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    d3.csv("/static/csv/scatterplot.csv", function(error, data) {
      if (error) throw error;


      data.forEach(function(d) {
        d.timeDelta = d.timeDelta
        d.sentimentScore = d.sentimentScore;
      });

      x.domain(d3.extent(data, function(d) { return d.timeDelta; })).nice();
      y.domain(d3.extent(data, function(d) { return d.sentimentScore; })).nice();

      svg3.append("g")
          .attr("class", "x axis")
          .attr("transform", "translate(0," + height + ")")
          .call(xAxis)
        .append("text")
          .attr("class", "label")
          .attr("x", width)
          .attr("y", -6)
          .style("text-anchor", "end")
          .text("Time (days from first review in database)");

      svg3.append("g")
          .attr("class", "y axis")
          .call(yAxis)
        .append("text")
          .attr("class", "label")
          .attr("transform", "rotate(-90)")
          .attr("y", 6)
          .attr("dy", ".71em")
          .style("text-anchor", "end")
          .text("Sentiment Score")

      svg3.selectAll(".dot")
          .data(data)
        .enter().append("circle")
          .attr("class", "dot")
          .attr("r", 3.5)
          .attr("cx", function(d) { return x(d.timeDelta); })
          .attr("cy", function(d) { return y(d.sentimentScore); })
          .style("fill", function(d) { return color(d.stars); });

      // var legend3 = svg3.selectAll(".legend")
      //     .data(color.domain())
      //   .enter().append("g")
      //     .attr("class", "legend")
      //     .attr("transform", function(d, i) { return "translate(0," + i * 20 + ")"; });

      // legend3.append("rect")
      //     .attr("x", width - 18)
      //     .attr("width", 18)
      //     .attr("height", 18)
      //     .style("fill", color);

      // legend3.append("text")
      //     .attr("x", width - 24)
      //     .attr("y", 9)
      //     .attr("dy", ".35em")
      //     .style("text-anchor", "end")
      //     .text(function(d) { return d; });

    });

    </script>


</div> <!-- content block -->

{% endblock %}

{% block footer %}

{% endblock%}



</body>
</html>