{% extends 'base.html' %}

{% block title %}
PlatePal: Analytics
{% endblock%}

{% block head %}

{% endblock %}

{% block location %}
<div class="analytics-outer">
    <h2>Analytics: the ghost in the machine</h2>
    <!-- end JINJA for loop here -->
</div> 
{% endblock %}

{% block content %}
<style>

#area1 .link {
  stroke: #777;
  stroke-opacity: 0.3;
  stroke-width: 1.5px;
}

#area1 .node circle {
  /*fill: #ccc;*/
  stroke: #000;
  stroke-width: 1.5px;
}

#area1 .node text {
  display: none;
  font: 10px sans-serif;
}

#area1 .node:hover circle {
  fill: #000;
}

#area1 .node:hover text {
  display: inline;
}

#area1 .cell {
  fill: none;
  pointer-events: all;
}
</style>

<style>
#area2 path {
  stroke: #fff;
  fill-rule: evenodd;
}
#area2 text {
  font-family: Arial, sans-serif;
  font-size: 12px;
}
</style>

<!-- <div id="area1"></div> -->
<!-- <div id="area2"></div> -->
<script src='http://d3js.org/d3.v3.min.js'></script>
<body>

<div> 

    <article>
        <h3>Project Motivation</h3>
        <br>
    </article>
    <div id="forceregion">   
        Post about regional relationships (city --> restaurant --> category)
        <!-- <form action="/sunburst-form"> -->
        <form>
          <select name="region" id="selectregion">
            <option hidden=""></option>
            <option value="norcal">Bay Area</option>
            <option value="socal">Los Angeles Metro</option>
          </select>
          
      </form>
    </div>
    <div id="area1">

    </div>
        <script>

        var width1 = 960,
            height1 = 500

        var color = d3.scale.category20();

        var svg1 = d3.select("#area1").append("svg")
            .attr("width", width1)
            .attr("height", height1);

        var force = d3.layout.force()
            .gravity(0.1)
            .charge(-120)
            .linkDistance(30)
            .size([width1, height1]);

        var voronoi = d3.geom.voronoi()
            .x(function(d) { return d.x; })
            .y(function(d) { return d.y; })
            .clipExtent([[0, 0], [width1, height1]]);



        d3.json("/norcal/force.json", function(error, json) {
          if (error) throw error;

          force
              .nodes(json.nodes)
              .links(json.links)
              .start();

          var link = svg1.selectAll(".link")
              .data(json.links)
            .enter().append("line")
              .attr("class", "link");

          var node = svg1.selectAll(".node")
              .data(json.nodes)
              .enter().append("g")
              .attr("class", "node")
              .attr("r", function(d) { console.log(d.value); return d.value; })
              .style("fill", function(d) { return color(d.group); })
              .call(force.drag)
              .on('dblclick', connectedNodes);

          var circle = node.append("circle")
              .attr("r", function(d) { console.log(d.value); return d.value; });

          var label = node.append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });

          var cell = node.append("path")
              .attr("class", "cell");

          force.on("tick", function() {
            cell
                .data(voronoi(json.nodes))
                .attr("d", function(d) { return d.length ? "M" + d.join("L") : null; });

            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            circle
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });

            label
                .attr("x", function(d) { return d.x + 8; })
                .attr("y", function(d) { return d.y; });
          });

          //Toggle stores whether the highlighting is on
          var toggle = 0;
          //Create an array logging what is connected to what
          var linkedByIndex = {};
          for (i = 0; i < json.nodes.length; i++) {
              linkedByIndex[i + "," + i] = 1;
          };
          json.links.forEach(function (d) {
              linkedByIndex[d.source.index + "," + d.target.index] = 1;
          });

     
          //This function looks up whether a pair are neighbours
          function neighboring(a, b) {
              return linkedByIndex[a.index + "," + b.index];
          }
          function connectedNodes() {
              if (toggle == 0) {
                  //Reduce the opacity of all but the neighbouring nodes
                  d = d3.select(this).node().__data__;
                  console.log("in connectedNodes");
                  console.log(d);
                  node.style("opacity", function (o) {
                      return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
                  });
                  link.style("opacity", function (o) {
                      return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
                  });
                  //Reduce the op
                  toggle = 1;
              } else {
                  //Put them back to opacity=1
                  node.style("opacity", 1);
                  link.style("opacity", 1);
                  toggle = 0;
              }
          }
     }); // end d3.json

    $("#selectregion").on('change', function(evt){
      // get the link's id

      forcejsonRoute = ('/' + $("#selectregion").val() + "/force.json");
      // forcejsonRoute = '/force.json'
      $("div#area1").remove()
      $("<div id='area1'></div>").insertAfter("#forceregion")
      updateForce(forcejsonRoute)
    });

    // update d3
    function updateForce(forcejsonRoute){
      d3.select("svg1").remove();

        var svg1 = d3.select("#area1").append("svg")
            .attr("width", width1)
            .attr("height", height1);

        var force = d3.layout.force()
            .gravity(0.1)
            .charge(-120)
            .linkDistance(30)
            .size([width1, height1]);

        var voronoi = d3.geom.voronoi()
            .x(function(d) { return d.x; })
            .y(function(d) { return d.y; })
            .clipExtent([[0, 0], [width1, height1]]);

        console.log(forcejsonRoute);

        d3.json(forcejsonRoute, function(error, json) {
          if (error) throw error;

          force
              .nodes(json.nodes)
              .links(json.links)
              .start();

          var link = svg1.selectAll(".link")
              .data(json.links)
            .enter().append("line")
              .attr("class", "link");

          var node = svg1.selectAll(".node")
              .data(json.nodes)
              .enter().append("g")
              .attr("class", "node")
              .attr("r", function(d) { console.log(d.value); return d.value; })
              .style("fill", function(d) { return color(d.group); })
              .call(force.drag)
              .on('dblclick', connectedNodes);

          var circle = node.append("circle")
              .attr("r", function(d) { console.log(d.value); return d.value; });

          var label = node.append("text")
              .attr("dy", ".35em")
              .text(function(d) { return d.name; });

          var cell = node.append("path")
              .attr("class", "cell");

          force.on("tick", function() {
            cell
                .data(voronoi(json.nodes))
                .attr("d", function(d) { return d.length ? "M" + d.join("L") : null; });

            link
                .attr("x1", function(d) { return d.source.x; })
                .attr("y1", function(d) { return d.source.y; })
                .attr("x2", function(d) { return d.target.x; })
                .attr("y2", function(d) { return d.target.y; });

            circle
                .attr("cx", function(d) { return d.x; })
                .attr("cy", function(d) { return d.y; });

            label
                .attr("x", function(d) { return d.x + 8; })
                .attr("y", function(d) { return d.y; });
          });

          //Toggle stores whether the highlighting is on
          var toggle = 0;
          //Create an array logging what is connected to what
          var linkedByIndex = {};
          for (i = 0; i < json.nodes.length; i++) {
              linkedByIndex[i + "," + i] = 1;
          };
          json.links.forEach(function (d) {
              linkedByIndex[d.source.index + "," + d.target.index] = 1;
          });

     
          //This function looks up whether a pair are neighbours
          function neighboring(a, b) {
              return linkedByIndex[a.index + "," + b.index];
          }
          function connectedNodes() {
              if (toggle == 0) {
                  //Reduce the opacity of all but the neighbouring nodes
                  d = d3.select(this).node().__data__;
                  console.log("in connectedNodes");
                  console.log(d);
                  node.style("opacity", function (o) {
                      return neighboring(d, o) | neighboring(o, d) ? 1 : 0.1;
                  });
                  link.style("opacity", function (o) {
                      return d.index==o.source.index | d.index==o.target.index ? 1 : 0.1;
                  });
                  //Reduce the op
                  toggle = 1;
              } else {
                  //Put them back to opacity=1
                  node.style("opacity", 1);
                  link.style("opacity", 1);
                  toggle = 0;
              }
          }
     }); // end d3.json

} // end update force d3

    </script>
    <div id="treemap">
      Post about city tree map (city --> cats --> restaurant --> sentiment)
        <form action="/sunburst-form">
          <select name="statename" id="selectstate">
            <option hidden=""></option>
            {% for place in states %}
            <option value="{{place[0]}}">{{place[0]}}</option>
            {% endfor %}
          </select>
          <select name="cityname" id="selectcity" disabled>
            <option hidden=""></option>
            {% for town in cities %}
            <option value="{{town[0]}}">{{town[0]}}</option>
            {% endfor %}
          </select>
          
      </form>
    </div>
    <div id="area2">
    </div>
    <script>
    $("#selectstate").change(function () {
       if ($("#selectstate").val() == 0) {
         $('#selectcity').attr('disabled', 'disabled');
         } else {
           $('#selectcity').removeAttr('disabled');
         }
    }).trigger("change");

    var width2 = 960,
        height2 = 700,
        radius = Math.min(width2, height2) / 2;

    var x2 = d3.scale.linear()
        .range([0, 2 * Math.PI]);

    var y2 = d3.scale.linear()
        .range([0, radius]);

    var color = d3.scale.category20c();

    // canvas
    var svg2 = d3.select("#area2").append("svg")
        .attr("width", width2)
        .attr("height", height2)
      .append("g")
        .attr("transform", "translate(" + width2 / 2 + "," + (height2 / 2 ) + ")");

    var partition = d3.layout.partition()
        .value(function(d) { return d.size; });

    var arc = d3.svg.arc()
        .startAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x))); })
        .endAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x + d.dx))); })
        .innerRadius(function(d) { return Math.max(0, y2(d.y)); })
        .outerRadius(function(d) { return Math.max(0, y2(d.y + d.dy)); });

    var state = $("#selectstate").val()
    var city = $("#selectcity").val()
    var jsonRoute = "/{{state}}/{{city}}/sunburst.json";


    d3.json(jsonRoute, function(error, root) {
      if (error) throw error;

      var g2 = svg2.selectAll("g")
          .data(partition.nodes(root))
        .enter().append("g");
      
      var path = g2.append("path")
        .attr("d", arc)
        .style("fill", function(d) { return color((d.children ? d : d.parent).name); })
        .on("click", click);
      
      var text = g2.append("text")
        .attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
        .attr("x", function(d) { return y2(d.y); })
        .attr("dx", "6") // margin
        .attr("dy", ".35em") // vertical-align
        .text(function(d) { return d.name; });
      
      function click(d) {
        // fade out all text elements
        text.transition().attr("opacity", 0);
        path.transition()
          .duration(750)
          .attrTween("d", arcTween(d))
          .each("end", function(e, i) {
              // check if the animated element's data e lies within the visible angle span given in d
              if (e.x >= d.x && e.x < (d.x + d.dx)) {
                // get a selection of the associated text element
                var arcText = d3.select(this.parentNode).select("text");
                // fade in the text element and recalculate positions
                arcText.transition().duration(750)
                  .attr("opacity", 1)
                  .attr("transform", function() { return "rotate(" + computeTextRotation(e) + ")" })
                  .attr("x", function(d) { return y2(d.y); });
              }
          });
      } // end click(d)
    }); // end d3.json



    d3.select(self.frameElement).style("height", height2 + "px");

    // Interpolate the scales!
    function arcTween(d) {
      var xd = d3.interpolate(x2.domain(), [d.x, d.x + d.dx]),
          yd = d3.interpolate(y2.domain(), [d.y, 1]),
          yr = d3.interpolate(y2.range(), [d.y ? 20 : 0, radius]);
      return function(d, i) {
        return i
            ? function(t) { return arc(d); }
            : function(t) { x2.domain(xd(t)); y2.domain(yd(t)).range(yr(t)); return arc(d); };
      };
    }

    function computeTextRotation(d) {
      return (x2(d.x + d.dx / 2) - Math.PI / 2) / Math.PI * 180;
    }

    $("#selectcity").on('change', function(evt){
      // get the link's id

      jsonRoute = ('/CA/' + $("#selectcity").val() + "/sunburst.json");
      $("div#area2").remove()
      $("<div id='area2'></div>").insertAfter("#treemap")
      updateSunburst(jsonRoute)
    });


    // update d3
    function updateSunburst(jsonRoute){
      d3.select("svg2").remove();

      var svg2 = d3.select("#area2").append("svg")
          .attr("width", width2)
          .attr("height", height2)
        .append("g")
          .attr("transform", "translate(" + width2 / 2 + "," + (height2 / 2 ) + ")");

      var partition = d3.layout.partition()
          .value(function(d) { return d.size; });

      var arc = d3.svg.arc()
          .startAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x))); })
          .endAngle(function(d) { return Math.max(0, Math.min(2 * Math.PI, x2(d.x + d.dx))); })
          .innerRadius(function(d) { return Math.max(0, y2(d.y)); })
          .outerRadius(function(d) { return Math.max(0, y2(d.y + d.dy)); });

      d3.json(jsonRoute, function(error, root) {
        if (error) throw error;

        var g2 = svg2.selectAll("g")
            .data(partition.nodes(root))
          .enter().append("g");
        
        var path = g2.append("path")
          .attr("d", arc)
          .style("fill", function(d) { return color((d.children ? d : d.parent).name); })
          .on("click", click);
        
        var text = g2.append("text")
          .attr("transform", function(d) { return "rotate(" + computeTextRotation(d) + ")"; })
          .attr("x", function(d) { return y2(d.y); })
          .attr("dx", "6") // margin
          .attr("dy", ".35em") // vertical-align
          .text(function(d) { return d.name; });
        
        function click(d) {
          // fade out all text elements
          text.transition().attr("opacity", 0);
          path.transition()
            .duration(750)
            .attrTween("d", arcTween(d))
            .each("end", function(e, i) {
                // check if the animated element's data e lies within the visible angle span given in d
                if (e.x >= d.x && e.x < (d.x + d.dx)) {
                  // get a selection of the associated text element
                  var arcText = d3.select(this.parentNode).select("text");
                  // fade in the text element and recalculate positions
                  arcText.transition().duration(750)
                    .attr("opacity", 1)
                    .attr("transform", function() { return "rotate(" + computeTextRotation(e) + ")" })
                    .attr("x", function(d) { return y2(d.y); });
                }
            });
        } // end click(d)
      }); // end d3.json
    } // end updateSunburst

    </script>
    <article id="ML">
        <h2>Post about sentiment analysis and scikit learn-ing</h2>
        <h3>Wrangling Data </h3>
          <p> ... trying to label unlabeled data. Note that now for 'vgan' sentences
            I have them labeled with the sentiment score from the API calls. </p>

          <p> ... not having enough data in a category. 'Gltn' is much smaller
          compared to 'vgan' </p>
          <h4>Author's Reviews<h4>

          <h4>Yelp Academic Dataset</h4>


        <h3>Text Classification </h3>
          <h4>Preprocessing </h4>
        
          <h4>Extracting Features </h4>
            <h5>Vectorizer Vocabulary</h5>

            <h5>Bag of Words</h5>
            <h5>Word2Vec</h5>
            <h5>KFolds</h5>
              <h6>Author's Reviews: Classification</h6>
              <p>
                <img src="/static/img/k2_toyset.png"><br>
                Author Reviews, K=2
              </p>
              <p>
                <img src="/static/img/k3_toyset.png"><br>
                Author Reviews, K=3
              </p>
              <p>
                <img src="/static/img/k4_toyset.png"><br>
                Author Reviews, K=4
              </p>
              <p>
                <img src="/static/img/k4-10_toyset_subplots.png"><br>
                Author Reviews, K=4-10
              </p>
              <h6>Yelp Academic Dataset: Classification</h6>
              <p>
                <img src="/static/img/k2-10_yelpgltn_onePlot.png"><br>
                ???
              </p>
              <p>
                <img src="/static/img/k2-10_yelpgltn_subplots.png"><br>
                ???
              </p>
              <h6>Yelp Academic Dataset: Sentiment</h6>
              <p>
                <img src="/static/img/sentiment_5-1_gltn_k2-10_onePlot.png"><br>
                ???
              </p>
              <p>
                <img src="/static/img/sentiment_5-1_gltn_k2-10_subPlots.png"><br>
                ???
              </p>
              <p>
                <img src="/static/img/sentiment_gltn_k2-10_onePlot.png"><br>
                ???
              </p>
              <p>
                <img src="/static/img/sentiment_gltn_k2-10_subPlots.png"><br>
                ???
              </p>
              
              


          <h4>Picking a Classifier </h4>
            <h5>MultinomialNB vs. LinearSVC </h5>
          <h4>Sentiment Analysis</h4>
              <h5>Categorization</h5>
              <p> categorizing reviews into one of five categories.
              </p>
              <h5>Single-label classifier </h5>
              <p> each review could only have one category,
               each sentence could only have one category</p>
              

              <h5>Multilabel Classifier </h5>
                <h6>One vs. Rest</h6>
                <h6>KMeans Clustering</h6>

              <h5>Classifying as "good" or "bad"
            
              
            
        <h3> Sentiment Analysis with Python</h3>
          <p>link to lightning talk slides </h3>
    </article>
    

</div> <!-- content block -->

{% endblock %}

{% block footer %}
<h6><a href="/analytics">Analytics</a></h6>
{% endblock%}



</body>
</html>