<!doctype html>
<html>
<head>
    <title>{% block title%}Placeholder Title{% endblock %}</title>
    <style>
        #map {
            height: 500px;
            width: 80%;
        }
    </style>
    <link rel="stylesheet" href="./static/css/styles.css">
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <navbar>
        <div class="nav-outer">
        <div class="nav" id="brand">
            <a href='/'>PlatePal</a>
        </div>
        
        <div class="nav" id="searchbar">
            <form>
                <input type="text" name="search-kind" placeholder="tacos, noodles, dinner">
                <input type="text" name="search-loc" placeholder="San Francisco">
                <input type="submit" value="Dish It">
            </form>
        </div>
        <div class="nav" id="loyalty">
            {% if not "user_id" in session %}
            <a href='/login-form'>Sign Up</a>
            <a href='/login-form'>Login</a>
            
            {% else %}
            {# if logged in, show profile page link #}
            <a href="/profile/{{ session['user_id'] }}">Profile</a>
            <a href='/logout'>Logout</a>
        
            {% endif %}
        </div>
        </div> <!-- class "nav-outer" -->
    </navbar>
   
        {% block location %}
        City information goes here.
        {% endblock %}

        {% block content %}
        Content goes here.
        {% endblock %}

    <footer>
        PlatePal 2015.
    </footer>
</body>
</html>
