{% extends 'base.html' %}
<!-- return render_template("biz.html", biz=biz, avg_star=avg_star, sen_scores=sen_scores, num_rev=num_rev) -->
{% block title %}
PlatePal: {{biz.name}}
{% endblock %}


{% block location %}
<div class="biznav-outer">

    <div class="biznav left">
        <div id="biz-info">
            <h2>{{biz.name}}</h2>
            <h4><a href="/{{biz.state}}/{{biz.city}}/city.html">{{biz.city}}, {{biz.state}}</a></h4>
            <h4>{{avg_star}}, {{num_rev}} review{% if num_rev > 1 %}s{% endif %}</h4>
        </div>
        <div id="biz-img">
            <img src={{biz.photo_url}} id="biz-photo">
        </div>
    </div>
    <div class="biznav right">
        <h4>Add a PlatePal Score</h4>
    </div> 

    <!-- end JINJA for loop here -->
</div> <!-- citynav-outer -->

{% endblock %}

{% block content %}
<!--  cat_reviews[cat][i] = (review, user, revcats) -->
<div id="biz-reviews">
    {% for cat in cats %}
        {% for review in cat_reviews[cat]%}
        <article id="review{{review[0].review_id}}">
            <h3> Yelp User ID: {{review[1].name}}</h3>
            <h3> Yelp Stars: {{review[0].yelp_stars}}</h3>
            {% for revcat in review[2] %}
            <h4> {{revcat.cat_code}} Score: {{revcat.sen_score}}</h4> 
            {% endfor %}
            <p>{{review[0].text}}</p>
        </article>
        {% endfor %} <!-- inner loop -->
    {% endfor %}
    <article>
            <h3> Review Title</h3>
            <p>Lorum Ipsum</p>
        </article>
        <article>
            <h3> Review Title</h3>
            <p>Lorum Ipsum</p>
    </article>
        
</div>
{% endblock %}
