{% extends 'base.html' %}

{% block title %}
PlatePal Home
{% endblock%}

{% block location %}
<div>
    <h3>City Name</h3> <!--TODO: Replace with Jinja -->
    <!-- TODO: JINJA for loop here of cities in list of nearby cities -->
    <h4>Nearby Name 1</h4> <!--TODO: Replace with Jinja -->
    <h4>Nearby Name 2</h4> <!--TODO: Replace with Jinja -->
    <h4>Nearby Name 3</h4> <!--TODO: Replace with Jinja -->
    <!-- end JINJA for loop here -->
</div>
{% endblock %}

{% block content %}
<div>
    <h3>Popular on PlatePal</h3>
    <div id="map"></div>
    <!-- the totally not secret google_maps_key -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&signed_in=true&callback=initMap"></script>
    
    
    <div id="results-map">

        <div id="mapnav">
            <form id="gltn-map-filter">
                <input class="map-nav" type="submit" name="mapcat" value="Gluten-Free">
            </form>
            <form id="vgan-map-filter">
                <input class="map-nav" type="submit" name="mapcat" value="Vegan">
            </form>
            <form id="kshr-map-filter">
                <input class="map-nav" type="submit" name="mapcat" value="Kosher">
            </form>
            <form id="algy-map-filter">
                <input class="map-nav" type="submit" name="mapcat" value="Allergies">
            </form>
            <form id="pleo-map-filter">
                <input class="map-nav" type="submit" name="mapcat" value="Paleo">
            </form>
            <!-- <h4> Gluten-Free</h4>
            <h4> Vegan</h4>
            <h4> Paleo</h4>
            <h4> Kosher</h4>
            <h4> Allergies</h4>
            <h4> Feeling Lucky</h4> -->
        </div>
    </div>
    <div id="results">

        <!-- corresponds to active tab on map-nav -->
        <h3>Gluten-Free</h3> <!--todo: jinja -->
        <ol id="results-list-gltn"></ol>
        
        <h3>Vegan</h3> <!--todo: jinja -->
        <ol id="results-list-vgan"></ol>
        
        <h3>Allergies</h3> <!--todo: jinja -->
        <ol id="results-list-algy"></ol>
        
        <h3>Kosher</h3> <!--todo: jinja -->
        <ol id="results-list-kshr"></ol>
        
        <h3>Paleo</h3> <!--todo: jinja -->
        <ol id="results-list-pleo"></ol>
        </div>

    </div>
    <script type="text/javascript" src="/static/js/gmaps.js"></script>
</div>

{% endblock %}
