{% extends 'base.html' %}

{% block title %}
PlatePal Home
{% endblock%}

{% block location %}
<div class="citynav-outer">
    <div class="citynav left">
        <a href="#">City Name</a> <!-- TODO: Replace with Jinja  -->
    </div>
    <div class="citynav right">
    <!-- TODO: JINJA for loop here of cities in list of nearby cities -->
        <a href="#">Nearby Name 1</a> <!--TODO: Replace with Jinja -->
        <a href="#">Nearby Name 2</a> <!--TODO: Replace with Jinja -->
        <a href="#">Nearby Name 3</a> <!--TODO: Replace with Jinja -->
    </div> 

    <!-- end JINJA for loop here -->
</div> <!-- citynav-outer -->
{% endblock %}

{% block content %}
<div> 
    <div id="map-title">
        <h3>Popular on PlatePal</h3>
    </div>
    
    
    <div id="results">

        <div id="mapnav">
        {% for cat in cat_list %}
            <div class="map-nav {{cat[0]}}" id="map-nav {{cat[0]}}">
            <a href="#filter-results" class="map-nav" data-cat-id={{cat[0]}} id="{{cat[0]}}-map-filter">{{cat[1]}}</a>
            </div>
        {% endfor %}
        </div> <!-- mapnav -->

        <div id="map"></div>
        <!-- the totally not secret google_maps_key -->
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&signed_in=true&callback=initMap"></script>

        <div id="results-list">
            <!-- corresponds to active tab on map-nav -->
            <div class="results" id="results-gltn">
                <h3>Gluten-Free</h3> <!--todo: jinja -->
                <ol id="results-list-gltn"></ol>
            </div>
            <div class="results" id="results-vgan">
                <h3>Vegan</h3> <!--todo: jinja -->
                <ol id="results-list-vgan"></ol>
            </div>
            <div class="results" id="results-algy">
                <h3>Allergies</h3> <!--todo: jinja -->
                <ol id="results-list-algy"></ol>
            </div>
            <div class="results" id="results-kshr">
                <h3>Kosher</h3> <!--todo: jinja -->
                <ol id="results-list-kshr"></ol>
            </div>
            <div class="results" id="results-pleo">
                <h3>Paleo</h3> <!--todo: jinja -->
                <ol id="results-list-pleo"></ol>
            </div>
            </div>
        </div> <!-- #results-list -->

    </div> <!-- #results -->
    <script type="text/javascript" src="/static/js/gmaps.js"></script>

</div> <!-- content block -->

{% endblock %}
