{% extends 'base.html' %}

{% block title %}
PlatePal: Search
{% endblock %}

{% block location %}
<div class="searchnav-outer">

    <div class="searchnav left">
        <div id="search-info">
            <h2>Search for: {% for term in search_terms%}"<span class="search-terms">{{term}}</span>" {% endfor %}</h2>
            <h4>near {{city}}, {{state}}</h4>
            <p class="hidden" id="search-city">{{city}}</p>
            <p class="hidden" id="search-state">{{state}}</p>
        </div>
    </div>
    <div class="searchnav right">
    </div> 
</div> <!-- nav-outer -->

{% endblock %}

{% block content %}
<div class="row" id="map-row"> 
        
    <div class="map_container" id="map">
        <div id="mapnav">
        {% for cat in cat_list %}
        {% if cat == 'gltn' %}
            <div class="active map-nav {{cat[0]}}" id="map-nav {{cat[0]}}">
        {% else %}
            <div class="map-nav {{cat[0]}}" id="map-nav {{cat[0]}}">
        {% endif %}
            <a href="#filter-results" class="map-nav" data-cat-id={{cat[0]}} id="{{cat[0]}}-map-filter">{{cat[1]}}</a>
            </div>
        {% endfor %}
        </div> <!-- mapnav -->

        <div id="map_canvas" class="map_canvas"></div>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key={{google_maps_key}}&signed_in=true&callback=initMap">
        </script>

    </div>
    <!-- the totally not secret google_maps_key -->
        

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6" id="results-list">
            <!-- corresponds to active tab on map-nav -->
            <div class="results" id="results-gltn">
                <h3>Gluten-Free</h3> <!--todo: jinja -->
                <ol id="results-list-gltn"></ol>
                <!-- pass limit(n) and offset(oset) -->
                <!-- use jQuery to update offset in link -->
                <!-- <a href="/biz/gltn/5/5/next.json" class="update-results" id="gltn-next-5">
                Next 5 Results</a> -->
            </div>
            <div class="results hidden" id="results-vgan">
                <h3>Vegan</h3> <!--todo: jinja -->
                <ol id="results-list-vgan"></ol>

            </div>
            <div class="results hidden" id="results-algy">
                <h3>Allergies</h3> <!--todo: jinja -->
                <ol id="results-list-algy"></ol>
            </div>
            <div class="results hidden" id="results-kshr">
                <h3>Kosher</h3> <!--todo: jinja -->
                <ol id="results-list-kshr"></ol>
            </div>
            <div class="results hidden" id="results-pleo">
                <h3>Paleo</h3> <!--todo: jinja -->
                <ol id="results-list-pleo"></ol>
            </div>
            <div class="results hidden" id="results-unkn">
                <h3>Feeling Lucky</h3> <!--todo: jinja -->
                <ol id="results-list-unkn"></ol>
            </div>
        </div> <!-- #results-list -->


    <script type="text/javascript" src="/static/js/city-gmaps.js"></script>

</div> <!-- map-row --> -->


{% endblock %}
