{% extends 'base.html' %}

{% block title %}
PlatePal: Locations
{% endblock%}

{% block location %}
<div class="statenav-outer">
    <div class="statenav left">
        <a href="/state.html">States with Category Ratings</a> <!-- TODO: Replace with Jinja  -->
    </div>
    <div class="statenav right">
    </div> 
</div> 
{% endblock %}

{% block content %}
<div> 
    {% for state in locations.keys() %}
    <div id="{{state}}-list">
    <h2>{{state}}</h2>
    <ul>
        {% for city in locations[state]%}
        <li><a href="/{{state}}/{{city}}/city.html">{{city}}</a></li>
        {% endfor %}
    </ul>
    </div>
    {% endfor %}
</div> <!-- content block -->

{% endblock %}
